<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="change_product_v4u" type="V4U\PluginExample\Plugin\Product" sortOrder="1" disabled="false"/>
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="change_qty_v4u" type="V4U\PluginExample\Plugin\Cart" sortOrder="1" disabled="false"/>
    </type>      
</config>